<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyouka.dao.IUserDao">

    <resultMap id="UserMap" type="com.hyouka.entity.User">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="account" column="account"/>
        <result property="passwd" column="password"/>
    </resultMap>


    <resultMap id="UserDutyMap" type="com.hyouka.entity.User">
        <result column="userid" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
        <result column="account" property="account" />
        <result column="password" property="passwd" />
        <result column="createtime" property="createtime" />

        <!--        <association property="duty" javaType="com.hyouka.entity.Role">-->
        <!--            <result column="did" property="id" />-->
        <!--            <result column="name" property="name" />-->
        <!--        </association>-->

        <collection property="roleList" ofType="com.hyouka.entity.Role">
            <result column="roleid" property="id"/>
            <result column="rolename" property="name"/>
        </collection>

    </resultMap>
    <select id="getUserById" parameterType="int" resultType="com.hyouka.entity.User">
        SELECT *
        FROM user
        where id = #{id};
    </select>

    <select id="getAllUser" resultMap="UserMap">
        select *
        from user
    </select>

    <select id="getUserDuty" resultMap="UserDutyMap">
        select *,r.id roleid,u.id userid,r.name rolename
        from USER u
                 left join userrole ur on u.id = ur.userid
                 left join role r on r.id = ur.roleid

    </select>


</mapper>
